HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/application-postgress.properties
/learning_plans.json
/mvnw
/mvnw.cmd
/pinned_words.json
/play_lists.json
/user_words.json
/words.json
/.mvn/
/src/main/java/words/com/wordservice/postconfigs/ReadStarter.java
/src/main/java/words/com/wordservice/postconfigs/RunTest.java
/src/main/java/words/com/wordservice/postconfigs/DevSetting.java
/src/main/resources/application-cloud.properties
